@use '../../styles/setup/variables' as variables;
@use '../../styles/setup/functions' as functions;

.li {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100px;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-bottom: 1px solid var(--clr8);

    .market-info {
        display: flex;
        align-items: center;
        width: 100%;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center
    }

    &:hover {
        background-color: var(--clr8);
        border-radius: 0.25rem;
    }

    .item-count {
        width: 100%;
        text-align: center;
        font-weight: 500;
        color: var(--clr3);
    }

    .details {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        .div {
            display: flex;
            flex-direction: column;
            width: 120px;

            .h3 {
                font-weight: 600;

            }

            .p {
                font-weight: 500;
                color: var(--clr3);
            }
        }

        .img {
            width: 50px;
            height: 50px;
            border-radius: 0.75rem;
        }
    }

    .price {
        display: flex;
        flex-direction: column;
        align-items: center;


        .h3 {
    
        }

        .h1 {
            font-weight: 600;
    
        }
    }
}