@use '../../styles/setup/variables' as variables;
@use '../../styles/setup/functions' as functions;

.store-preview {
    cursor: pointer;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 32px;
    transition: 250ms;
    perspective: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .h3 {
        position: relative;
        text-align: center;
        color: var(--clr2);
        font-size: 1.5rem;
        z-index: 10;
        font-weight: 500;
        width: 150px;
        overflow-wrap: break-word;
    }

    .store-back {
        position: absolute;
        inset: 0;
        z-index: -1;
        width: inherit;
        height: inherit;
        border-radius: 32px;
        transition: 250ms;
        transform-style: preserve-3d;
        transform-origin: bottom right;
        transform: rotateZ(15deg);
        will-change: transform;
        // box-shadow: 16px 0 40px var(--clr-glass);
    }

    .store-front {
        position: absolute;
        inset: 0;
        z-index: 1;
        width: inherit;
        height: inherit;
        border-radius: 32px;
        background-color: var(--clr7);
        backdrop-filter: blur(20px);
        transition: 250ms;
        transform-style: preserve-3d;
        transform-origin: top left;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

    }


    &:hover {
        &>.store-back {
            transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
        }

        &>.store-front {
            transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
        }
    }
}




@media (max-width: 600px) {
    body {
        flex-direction: column;
    }
}