.home-page {
    overflow: hidden;
    overflow-y: scroll;
    height: 100vh;
    .homepage-content {
        // margin-block-start: rem(-600px);
        img {
            // max-width: rem(940px);
            width: 70%;
            margin-inline-end: rem(-140px);
        }
        .text {
            max-width: rem(608px);
            h1 {
                font-weight: bold;
                font-size: rem(44px);
                line-height: rem(60px);
                margin-block-end: rem(24px);
            }
            p {
                margin-block-end: rem(40px);
                font-size: rem(16px);
                line-height: rem(32px);
                color: $clr2;
            }
            button {
                font-size: rem(20px);
            }
        }
    }
}