@use '../../styles/setup/variables' as variables;

.wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 1px solid var(--clr8);
    border-radius: 0.75rem;
    padding: 0.625rem;

    .ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
        // grid-auto-rows: 140px;
        gap: .5rem;
        overflow: auto;
        padding-inline: .08rem;
        padding-block: .5rem;

        @media (min-width: variables.$tablet) {
            grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
        }

        @media (max-width: variables.$tablet) {
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: center;
            gap: 1rem;
        }

    }


}