* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // font-family: 'Heebo', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  // font-family:fantasy;
  font-weight: 300;
}

html {
  color: var(--clr1);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  direction: rtl;
  background: var(--clr7);
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: var(--clr6);
}

button {
  cursor: pointer;
  font-weight: 500;
  border: none;
  background-color: var(--clr-call-to-action);
  color: var(--clr7);
  border-radius: 2rem;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--clr1) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  scroll-margin-inline-end: 0.25rem;
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr3);
  border-radius: 10px;
  border: 0;
}

// .rtl {
//   direction: rtl;
// }

input {
  border-radius: 8px;
  border: 0;
  padding: 0.25rem;
  border: 0;
  transition: all .2s ease-in-out;
  background-color: var(--clr-input);
  color: var(--clr2);
  box-shadow: 0px 1px 2px 0px var(--clr-bs);
  &::placeholder {
    color: var(--clr3);
  }
  &:focus {
    outline: 0;
  }
}

