@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 960px) {
        padding: 10px;
        flex-direction: row;
    }
    @media (min-width: 1500px) {
        padding:20px;
    }
    
    .hero {
        display: none;
        width: 90%;
        background-color: var(--clr2);
        border-radius: 25px;
        height: 40vh;
        align-items: center;
        justify-content: center;
        @media (min-width: 960px) {
            display: flex;
            height: 80vh;
            width: 40%;
        }
        .hero-img {
            width: 70%;
            @media (min-width: 960px) {
                width: 90%;
            }
            @media (min-width: 1500px) {
                width: 80%;
            }
        }
    }
    
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        gap: 5px;
        padding: 20px;
        @media (min-width: 960px) {
            width: 50%;
        }
        .logo-img {
            margin: 0;
            padding: 0;
            width: 20%;
            @media (min-width: 768px) {
                width: 12%;
            }
            @media (min-width: 1500px) {
                width: 10%;
            }
        }
        .title-img {
            width: 60%;
            margin-block-end: 15px;
            @media (min-width: 768px) {
                width: 50%;
            }
            @media (min-width: 1500px) {
                width: 50%;
            }
        }
        .h2 {
            width: 100%;
            text-align: center;
            margin-block-end: 50px;
            font-size: 1.2rem;
            @media (min-width: 1500px) {
                width: 70%;
            }
        }
        .button {
            font-size: 1.1rem;
            font-weight: 500;
            border-radius: 2rem;
            cursor: pointer;
            padding: 15px 50px;
            background-color: var(--clr-call-to-action);
            color: var(--clr1);
            transition: all .2s ease-in-out;
            &:hover {
                filter: brightness(80%);
            }
        }
    }

}