@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.main {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    gap: 20px;
    overflow: hidden;

    .container {
        display: flex;
        flex-direction: column;
        padding: 16px;
        gap: 12px;
    }
}