@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.store-page {
    height: calc(100vh - 55px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .stores {
        gap: 25px;
        display: flex;
    }

   
}