@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media (min-width: variables.$mobile) {
        height: 100vh;
    }

    .stores {
        flex-wrap: wrap;
        gap: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   
}