@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @media (min-width: 960px) {
        padding: 0.625rem;
        flex-direction: row;
    }
    @media (min-width: 1500px) {
        padding: 1.25rem;
    }
    
    .hero {
        display: none;
        width: 90%;
        background-color: var(--clr8);
        border-radius: 1.563rem;
        height: 40vh;
        align-items: center;
        justify-content: center;
        @media (min-width: 960px) {
            display: flex;
            height: 80vh;
            width: 40%;
        }
        .hero-img {
            width: 70%;
            @media (min-width: 960px) {
                width: 90%;
            }
            @media (min-width: 1500px) {
                width: 80%;
            }
        }
    }
    
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        gap: 0.313rem;
        padding: 1.25rem;
        @media (min-width: 960px) {
            width: 50%;
        }
        .logo-img {
            margin: 0;
            padding: 0;
            width: 20%;
            @media (min-width: 768px) {
                width: 12%;
            }
            @media (min-width: 1500px) {
                width: 10%;
            }
        }
        .h1 {
            font-family: josefinSlab-semibold;
            color: var(--clr-call-to-action);
            align-self: center;
            font-size: 4rem;
            @media (min-width: 768px) {
                // width: 50%;
            }
            @media (min-width: 1500px) {
                // width: 50%;
            }
        }
        .h2 {
            width: 100%;
            text-align: center;
            font-weight: 500;
            color: var(--clr2);
            margin-block-end: 3.125rem;
            font-size: 1.2rem;
            @media (min-width: 1500px) {
                width: 70%;
            }
        }
        .button {
            font-size: 1.1rem;
            font-weight: 500;
            border-radius: 2rem;
            cursor: pointer;
            padding: 0.938rem 3.125rem;
            background-color: var(--clr-call-to-action);
            color: var(--clr7);
            transition: all .2s ease-in-out;
            &:hover {
                scale: 1.2;
            }
        }
    }

}