@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.login-signup {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    @media (min-width: 960px) {
        padding: 0.625rem;
        flex-direction: row;
    }
    @media (min-width: 1500px) {
        padding: 1.25rem;
    }

    .hero {
        display: none;
        width: 90%;
        background-color: var(--clr8);
        border-radius: 1.563rem;
        height: 40vh;
        align-items: center;
        justify-content: center;
        @media (min-width: 960px) {
            display: flex;
            height: 80vh;
            width: 40%;
        }
        .img {
            width: 70%;
            @media (min-width: 960px) {
                width: 70%;
            }
            @media (min-width: 1500px) {
                width: 50%;
            }
        }
    }
    .content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        gap: 0.313rem;
        padding: 1.25rem;
        @media (min-width: 960px) {
            width: 50vw;
        }
        .h1 {
            width: 100%;
            text-align: center;
            margin-block-end: 3.125rem;
            font-size: 1.2rem;
            @media (min-width: 1500px) {
                width: 80%;
            }
        }
        
    }

}