@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    display: flex;
    height: 100vh;
    overflow: auto;
    width: 100%;
    transition: all .2s linear;
    &.disable-interactions {
        pointer-events: none;
        filter: opacity(.20);
    }

    .container{
        width: 100%;
        padding: 1.25rem;
        height: 100vh;
        overflow: auto;
        
        @media ( max-width: variables.$mobile) {
            padding: 0.5rem;
        }
        
        @media ( min-width: variables.$laptop) {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
        }

    }

}