@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    display: flex;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    transition: all .2s linear;

    &.disable-interactions {
        pointer-events: none;
        filter: opacity(.20);
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 1.25rem;
    }

}