@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.loading {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;
    overflow: hidden;
    width: 100%;

    .container {
        width: 100%;
        padding: 1.875rem;
        display: flex;
        flex-direction: column;

        @media(max-width: variables.$mobile) {
            padding: .5rem;
        }

        .h1 {
            font-size: 1.7rem;
            font-weight: 500;
        }

        .div {
            display: flex;
            width: 100%;
            // justify-content: center;
            gap: 1.25rem;
            flex-direction: column;
            @media(min-width: variables.$mobile) {
                flex-direction: row;
            }

            .button {
                width: 155px;
                height: 32px;
                font-size: 1.1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 1rem;
                transition: all .2s ease-in-out;
                gap: 0.5rem;
                height: 1.563rem;
                width: 175px;
                padding-block-end: 20px;

                &:hover {
                    scale: 1.1;
                }

                .span {
                    font-weight: 600;
                    font-size: 2.5rem;
                    margin-block-end: 0.5rem;
                }
            }
        }

        .form-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-block: 6px;

            .view-picker {
                padding: 8px;
                display: flex;
                align-items: center;
                gap: 8px;
                flex-direction: column;

                @media(min-width: variables.$tablet) {
                    flex-direction: row;
                }

                .icon {
                    cursor: pointer;
                    transition: all .2s ease-in-out;
                    font-size: 2.3rem;
                    border-radius: 0.25rem;

                    &:hover {
                        box-shadow: 0px 0px 4px 1px var(--clr-call-to-action);
                        color: var(--clr-call-to-action);
                    }

                    &.selected {
                        box-shadow: 0px 0px 4px 1px var(--clr-call-to-action);
                        color: var(--clr-call-to-action);
                    }
                }

                .barrier {
                    display: none;
                    font-size: 1.5rem;
                    margin-block-start: -8px;

                    @media(min-width: variables.$tablet) {
                        display: block;
                    }
                }
            }
        }
    }
}