// COLORS


:root {
    --clr1: #ffffff; // font color nad button background color
    --clr2: #2e2e2e; // homepage image background color and input background color
    --clr3: #868686; // input font placeholder color
    --clr4: #6f6f6f; // button font color
    --clr5: #252525; // border color
    --clr6: #161616; // background color
    --clr7: #ffffff22; // glass color
    --clr-call-to-action: #ff2d06;

    // breakpoints
}

$mobile: 520px;
$tablet: 768px;
$laptop: 960px;
$smallDesktop: 1300px;
$desktop: 1500px;
// LAYOUT BREAKPOINTS
$break-mobile: 580px;
$break-small: 620px;
$break-medium: 860px;
$break-narrow: 580px;
$break-normal: 1300px;
$break-wide: 1500px;
