// @use '../styles/setup/variables.scss' as variables;
@import '../styles/setup/variables.scss';

.form {
    border: 1px solid var(--clr5);
    border-radius: 12px;
    gap: 5px;
    padding: 8px;
    // margin-inline-start: 4px;
    position: relative;
    transition: all .2s ease-in-out;
    display: flex;
    // flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    width: 175px;

    @media (min-width: 768px) {
        width: 520px;
        flex-direction: row;
    }

    .close {
        padding:2px;
        font-size: 1.6rem;
        cursor: pointer;
        border-radius: 50%;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: var(--clr2);
        }
    }

    .item-date {
        width: 110px;
        color-scheme: dark;
    }

    .item-place {
        width: 105px;
    }

    .item-quantity {
        width: 45px;
    }

    .item-title {
        width: 124px;
    }

    .button {
        width: 40px;
        // font-size: 1.2rem;
        // font-weight: 700;
        // height: 20px;
        text-align: center;
        // margin-block-end: 6px;
        // padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;

        .span {
            text-align: center;
            margin-block-end: 4px;
            font-size: 1.3rem;
            font-weight: 700;
            font-size: 2.2rem;
            // overflow: hidden;
            margin-block-end: 8px;
            font-weight: 700;
        }

        &:hover {
            filter: brightness(80%);
        }

        &:disabled {
            filter: brightness(100%);
            cursor: not-allowed;
        }
    }
}