@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.header {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    height: functions.rem(43px);
    margin-block-start: functions.rem(40px);
    z-index: 1;
    padding-inline-start: 14px;
	padding-inline-end: 14px;
    margin-block-end: functions.rem(40px);
    @media (min-width: 992px) {
        margin-block-end: functions.rem(100px);
    }

    .logo {
        img {
            height: functions.rem(64px);
        }
    }

    nav {
        .ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            .li {
                margin-inline-start: functions.rem(24px);
                font-size: functions.rem(18px);
                letter-spacing: functions.rem(1px);


                &.btn-login {
                    cursor: pointer;
                    font-weight: 500;
                    transition: color .2s ease-in-out;
                    padding: 18px 23px;
                    border-radius: 8px;
                    border: 1px solid var(--clr-call-to-action);
                    transition: all .2s ease-in-out;
                    color: var(--clr-call-to-action);

                    &:hover {
                        filter: brightness(120%);
                    }
                }
                &.btn-signup {
                    cursor: pointer;
                    border: 0;
                    padding: 20px 24px;
                    height: 64px;
                    background-color: var(--clr-call-to-action);
                    border-radius: 8px;
                    font-weight: 500;
                    transition: filter .2s ease-in-out;
                    color: var(--clr1);
                  
                    &:hover {
                      filter: brightness(120%);
                    }
                  }
            }
        }
    }
}