.item-container {
    background-color: var(--clr-glass);
    backdrop-filter: blur(3px);
    position: relative;
    width: 16%;
    min-width: 250px;
    height: calc(94vh - 25px);
    padding-inline-end: 4px;
    border-radius: 6px;
    z-index: 8;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    
}