@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

@mixin item-action {
    cursor: pointer;
    font-size: 6px;
    border: 0;
    background-color: transparent;
    border-radius: 8px;
    padding: 2px;
    text-align: center;
    width: 24px;
    color: var(--clr2);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all .2s ease-in-out;

    &:hover {
        color: var(--clr1);
        filter: brightness(80%);
    }

    &.hovered {
        opacity: 1;
        height: 28px;
    }
}

.item {
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 4px;
    margin-inline-start: 4px;
    background-color: var(--clr1);
    height: 28px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;

    &:hover {
        height: 70px;
    }

    .item-actions {
        gap: 2px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .item-title {
            display: flex;
            align-items: center;

            .item-name {
                width: 180px;
                height: 17px;
                overflow: hidden;
                transition: all .3s ease-in-out;
                white-space: nowrap;
                text-overflow: ellipsis;

                &.hovered {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    // margin-inline-start: 4px;
                    height: auto;
                    width: 120px;
                }
            }
        }

        .actions {
            display: flex;
            align-items: center;
            justify-content: end;

            .item-quantity {
                // margin-inline: 3px;
                font-size: .8rem;
                // width: 8px;
                text-align: center;
            }
        }
    }

    .item-expiry {
        transition: all .5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .add-item-to-shopping-list {
            @include item-action;
            color: rgb(41, 131, 41);
            height: 0;
            opacity: 0;
            margin-inline-end: 2px;
            overflow: hidden;
            transition: all .3s ease-in-out;

            &.hovered {
                // display: block;
                opacity: 1;
                min-height: 30px;
            }

        }

        .expiry {
            // display: none;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all .3s ease-in-out;
            margin-inline-start: 4px;

            input {
                width: 105px;
            }

            &.hovered {
                // display: block;
                opacity: 0.6;
                min-height: 28px;
            }
        }

    }

    .decrease-quantity {

        @include item-action;

    }

    .increase-quantity {
        @include item-action;

        margin-inline-end: -22px;
        overflow: hidden;

        &.hovered {
            margin-inline-end: 0px;
        }
    }

    .delete-item {
        @include item-action;
        // color: rgb(253, 125, 125);
        color: rgb(252, 46, 46);
        margin-inline-start: -20px;
        overflow: hidden;

        &.hovered {
            margin-inline-start: 0px;
        }

    }


}