@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.item-filter {
    .input {
        border-radius: 8px;
        border: 0;
        padding: 4px;
        border: 0;
        transition: all .2s ease-in-out;
        // box-shadow: 0 0 40px var(--clr-bs);

        &:focus {
            outline: 0;
            border: 1px solid var(--clr4);
        }
    }
}