@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

@mixin item-action {
    cursor: pointer;
    font-size: 1.2rem;
    border: 0;
    background-color: transparent;
    border-radius: 8px;
    padding: 2px;
    text-align: center;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all .2s ease-in-out;
    color: var(--clr1);

    &:hover {
        filter: brightness(80%);
    }
}

.item-card {
    // width: 190px;
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--clr5);
    border-radius: 12px;
    padding: 8px;

    &:hover {
        background-color: var(--clr2);
    }

    .item-title-img {
        display: flex;
        align-items: center;

        .item-title {
            display: none;
        }

        .img {
            height: 160px;
            width: 160px;
            border-radius: 25%;
            object-fit: cover;
        }
    }

    .item-date-place {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .item-place {
        width: 150px;
        font-weight: 300;
        border-radius: 2rem;
        padding: 4px;
        font-size: .6rem;
        font-weight: 700;
        text-align: center;
        margin-block-start: -3px;
        margin-block-end: 5px;

        &[contenteditable="true"]:hover {
            filter: brightness(70%);
        }

        &[contenteditable="true"]:focus {
            outline: 0;
            background-color: var(--clr2);
        }
    }

    .quantity {
        display: flex;
        align-items: center;
        // margin-inline-start: -28px;
        margin-block-end: -10px;
        color: var(--clr1);

        .delete-item {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            color: var(--clr-call-to-action);
            @include item-action;
            overflow: hidden;
            transform: translateY(80%);
            opacity: 0;
            display: none;

            // &.hovered {
            //     opacity: 1;
            //     transform: translateY(5%);
            // }
        }

        .item-quantity {
            font-size: 1rem;
            width: 20px;
            text-align: center;
            font-weight: 600;
        }

        .decrease-quantity {
            @include item-action;
            transform: translateY(80%);
            opacity: 0;

            &.hovered {
                opacity: 1;
                transform: translateY(5%);
            }
        }

        .increase-quantity {
            @include item-action;
            transform: translateY(80%);
            opacity: 0;

            &.hovered {
                opacity: 1;
                transform: translateY(5%);
            }
        }
    }

    .date-button {
        cursor: auto;
        background-color: transparent;
        border-radius: 6px;
        display: flex;
        align-items: center;
        font-size: .9rem;
        margin-inline-end: -15px;

        .input {
            width: 25px;
            background: transparent;
            color-scheme: dark;
        }
    }

    .add-item-to-shopping-list {
        font-size: .7rem;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        height: 20px;
        transition: all .2s ease-in-out;

        .p {
            font-weight: 600;
        }

        .span {
            font-size: 2.2rem;
            margin-block-end: 6px;
            font-weight: 700;
        }

        &:hover {
            scale: 1.2;
        }
    }
}

.item {
    display: flex;
    align-items: center;
    // justify-content: space-between;
    gap: 6px;
    padding: 8px;
    width: 100%;
    height: fit-content;
    border-radius: 4px;
    font-size: .8rem;
    // height: 65px;
    height: 120px;
    flex-wrap: wrap;
    justify-content: space-between;
    @media (min-width: variables.$tablet) {
    }
    
    &:not(:last-child) {
        border-bottom: 1px solid var(--clr2);
    }
    
    &:hover {
        background-color: var(--clr2);
    }
    
    .item-title-img {
        order: 0;
        // height: 65px;
        display: flex;
        align-items: center;
        gap: 6px;
        width: 50%;
        // flex-direction: column;
        @media (min-width: variables.$tablet) {
            width: 40%;
        }

        .item-title {
            // text-align: center;
            font-weight: 600;
            display: block;
            display: -webkit-box;
            max-width: 400px;
            font-size: .7rem;
            // margin: 0 auto;
            // line-height: $line-height;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @media (min-width: variables.$tablet) {
                font-size: .8rem;
            }
            @media (min-width: variables.$tablet) {
                font-size: .9rem;
            }
            @media (min-width: variables.$desktop) {
                font-size: 1rem;
                width: 156px;
            }
        }

    }
    .img {
        height: 50px;
        width: 50px;
        border-radius: 25%;
        object-fit: cover;
        display: none;
        @media (min-width: variables.$tablet) {
            display:block;
        }
    }

    .item-date-place {
        display: flex;
        align-items: center;
        order:2;
        justify-content: space-between;
        width: 25%;
        // flex-direction: column;
        // height: 65px;
        // padding-block-end: 12px;
    }

    .item-place {
        width: fit-content;
        // font-style: italic;
        font-weight: 300;
        border-radius: 2rem;
        padding: 4px;
        font-size: .6rem;
        font-weight: 700;
        text-align: center;
        width: 100px;
        // width: 50%;
        font-size: .7rem;
        width: 130px;
        order:4;

        &[contenteditable="true"]:hover {
            filter: brightness(70%);
        }

        &[contenteditable="true"]:focus {
            outline: 0;
            background-color: var(--clr2);
        }
        @media (min-width: variables.$tablet) {
            // font-size: 1rem;
            order:2;
        }

        @media (min-width: variables.$desktop) {
            font-size: 1rem;
            width: 156px;
        }
    }


    .quantity {
        display: flex;
        align-items: center;
        justify-content: space-between;
        order: 2;
        gap: 4px;
        @media (min-width: variables.$mobile) {
            order: 1;
        }

        .delete-item {
            display: flex;
            align-items: center;
            justify-content: center;
            // padding-inline: 16px;
            background-color: transparent;
            color: var(--clr-call-to-action);
            @include item-action;
            overflow: hidden;
            transform: translateY(80%);
            opacity: 0;
            display: none;

            &.hovered {
                opacity: 1;
                transform: translateY(5%);
            }
        }

        .item-quantity {
            font-size: 1.2rem;
            width: 25px;
            text-align: center;
            font-weight: 600;
            margin-block-start: -3px;
            @media (min-width: variables.$tablet) {
                font-size: 1.5rem;
            }
        }

        .decrease-quantity {
            @include item-action;
            border-radius: 50%;
            padding: 2px;
            transition: all .2s ease-in-out;
            &:hover {
                background-color: var(--clr2); 
            }
            // transform: translateY(80%);
            // opacity: 0;
            // margin-block-start: -3px;

            // &.hovered {
            //     opacity: 1;
            //     transform: translateY(5%);
            // }
        }

        .increase-quantity {
            @include item-action;
            border-radius: 50%;
            padding: 2px;
            transition: all .2s ease-in-out;
            &:hover {
                background-color: var(--clr2); 
            }
            // transform: translateY(80%);
            // opacity: 0;
            // margin-block-start: -3px;

            // &.hovered {
            //     opacity: 1;
            //     transform: translateY(5%);
            // }
        }
    }

    .item-expiry {
        // background-color: rgb(22, 22, 22);
        // filter: brightness(50%);
        // color: #fc0000 !important;
    }

    .date-button {
        cursor: auto;
        background-color: transparent;
        border-radius: 6px;
        // padding: 4px;
        // padding-inline-start: 6px;
        display: flex;
        align-items: center;
        font-size: 1rem;
        order:1;
        color: var(--clr1);
        @media (min-width: variables.$mobile) {
            order: 2;
        }
        

        .input {
            // padding-block-start: 8px;
            width: 25px;
            background: transparent;
            color-scheme: dark;
        }
    }

    .add-item-to-shopping-list {
        order:3;
        // font-size: .7rem;
        // padding-block-end: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        height: 25px;
        transition: all .2s ease-in-out;
        @media (min-width: variables.$tablet) {
            font-size: 1rem;
            order:3;
        }
        
        .p {
            width: 120px;
            font-weight: 500;
            display: none;

            @media(min-width: variables.$desktop) {
                display: block;
            }
        }

        .span {
            font-size: 2.2rem;
            margin-block-end: 7px;
            font-weight: 700;
            @media (min-width: 520px) {
                font-size: 2rem;
            }
        }

        &:hover {
            scale: 1.2;
        }
    }


}