.place-list {
    gap: 10px;
    margin: auto;
    align-content: center;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 1;

        @media(min-width:450px) {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }

        @media(min-width: 768px) {
            columns: 1;
            -webkit-columns: 1;
            -moz-columns: 1;
        }

        @media(min-width: 900px) {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
        }

        @media(min-width: 1170px) {
            columns: 3;
            -webkit-columns: 3;
            -moz-columns: 3;
        }

        @media(min-width: 1460px) {
            columns: 4;
            -webkit-columns: 4;
            -moz-columns: 4;
        }

        @media(min-width: 1700px) {
            columns: 5;
            -webkit-columns: 5;
            -moz-columns: 5;
        }
}