@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.place {
    background-color: var(--clr-glass);
    backdrop-filter: blur(3px);
    position: relative;
    // box-shadow: 0 0 5px rgba(146, 146, 146, 0.6);
    // width: 16%;
    // width: 250px;
    width: 280px;
    // max-height: calc(45vh - 25px);
    // height: 485px;
    // padding-inline-end: 4px;
    border-radius: 6px;
    z-index: 8;
    transition: all .2s ease-in-out;
    display: flex;
    flex-direction: column;
    // max-width: 100%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    padding-inline: 10px;
    margin-block-end: 10px;
    break-inside: avoid;
    padding-block-end: 10px;
    .place-details {
        padding: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .h5 {
            padding-inline: 8px;
            transition: all .2s ease-in-out;
            border-radius: 6px;
            &[contenteditable="true"]:hover {
                background-color: var(--clr-glass);
              }
            &[contenteditable="true"]:focus {
                outline: 0;
                background-color: var(--clr-glass);
              }
        }
        .span {
            margin-block-start: 6px;
        }
        
    } 
    // max-width: 220px;
    // @media (max-width: 971px) {
    //     width: 280px;
    // }

    @media (max-width: 450px) {
        width: 100%;
    }
}
