@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.product-list {
    // margin-inline-start: -4px;
    width:100%;
    padding-inline: 8px;
    padding-inline-start: 14px;
    max-height: 200px;
    overflow-y: scroll;
    background-color: var(--clr1);
    border-radius: 4px;
    // position: absolute;
    z-index: 90;
    top: 100%;
    transition: all .2s ease-in-out;


    .h6 {
        text-align: center;
        padding: 2px;
        // font-size: .6rem;
        border-bottom: 1px solid var(--clr2);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}