@use '../styles/setup/variables' as variables;
@use '../styles/setup/functions' as functions;

.product-list {
    // margin-inline-start: -4px;
    width:314px;
    padding-inline: 8px;
    padding-inline-start: 14px;
    max-height: 300px;
    overflow-y: scroll;
    background-color: var(--clr1);
    border-radius: 4px;
    position: absolute;
    top: 12%;
    right: 5%;
    margin-inline-start: -10px;
    margin-block-start: -2px;
    z-index: 90;
    // top: 100%;
    transition: all .2s ease-in-out;


    .h6 {
        text-align: center;
        padding: 2px;
        font-weight: 700;
        // font-size: .6rem;
        color: var(--clr2);
        border-bottom: 1px solid var(--clr2);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}