.place {
    background-color: rgba(255, 255, 255, 0.13);
    backdrop-filter: blur(3px);
    position: relative;
    box-shadow: 0 0 40px rgba(146, 146, 146, 0.6);
    width: 350px;
    max-height: calc(45vh - 25px);
    padding-inline-end: 4px;
    border-radius: 6px;
    z-index: 8;
    transition: all .2s ease-in-out;
    .place-details {
        padding: 6px;
    } 
    .item-list {
        height: 41.5vh;
        overflow: auto;
    }
    // max-width: 220px;
    @media (max-width: 971px) {
        width: 250px;
    }

    @media (max-width: 450px) {
        width: 83%;
    }
}

.add-item {
    gap: 5px;
    padding: 4px;
    margin-inline-start: 4px;
    position: relative;
    transition: all .2s ease-in-out;

    #suggestion option {
        padding-left: 30px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 20px;
      }
      datalist {
        position: absolute;
        background-color: white;
        border: 1px solid blue;
        border-radius: 0 0 5px 5px;
        border-top: none;
        font-family: sans-serif;
        width: 350px;
        padding: 5px;
      
      }
      
      option {
        background-color: white;
        padding: 4px;
        color: blue;
        margin-bottom: 1px;
         font-size: 18px;
        cursor: pointer;
      }

    .product-list-modal {
        position: absolute;
        top: 80px;
        z-index: 3;
    }

    .inputs {
        gap: 4px;

        .title-quantity {
            gap: 4px;
        }
    }

    button {
        cursor: pointer;
        width: 50%;
        height: 100%;
        border: 0;
        background-color: $clr1;
        border-radius: 12px;
        font-size: 3rem;
        color: $clr2;
        transition: filter .2s ease-in-out;

        &:hover {
            filter: brightness(80%);
        }
    }

    .new-item-title {
        width: 96%;
    }

    .new-item-quantity {
        width: 26%;
    }

    .new-item-date {
        width: 67%;
    }
}