.place {
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(3px);
    position: relative;
    box-shadow: 0 0 40px rgba(146, 146, 146, 0.6);
    width:25%;
    // max-width: 220px;
    @media (min-width: 971px) {
        width:33.3%;
    }
}

.add-item {
    gap: 5px;
    padding: 4px;
    position: relative;

    .product-list-modal {
        position: absolute;
        top: 80px;
        z-index: 3;
    }
    .inputs {
        gap: 4px;
        .title-quantity {
            gap:4px;
        }
    }

    button {
        cursor: pointer;
        width: 50%;
        height: 100%;
        border: 0;
        background-color: $clr1;
        border-radius: 12px;
        font-size: 3rem;
        color: $clr2;
        transition: filter .2s ease-in-out;

        &:hover {
            filter: brightness(80%);
        }
    }

    .new-item-title {
        width: 96%;
    }

    .new-item-quantity {
        width: 26%;
    }

    .new-item-date {
        width: 67%;
    }
}