.product-list {
    margin-inline-start: -4px;
    width:220px;
    padding-inline: 8px;
    max-height: 25vh;
    overflow-y: scroll;
    background-color: $clr1;
    border-radius: 4px;
    position: absolute;


    h6 {
        text-align: center;
        padding: 2px;
        // font-size: .6rem;
        border-bottom: 1px solid $clr2;
    }
}