.product-preview {
    position: relative;
    height: 40px;
    background-color: $clr1;
    z-index: 900;
    border-bottom: 1px solid $clr2;
    transition: all .2s ease-in-out;
    overflow:visible;
    &:hover {
        cursor: pointer;
        background-color: #cecdcd;
    }
    .product-title {
        width: 170px;
        font-size: 12px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .product-manufacturer {
        font-size: 10px;
    }

    img {
        position:absolute;
        width: 35px;
        border-radius: 4px;
        transition: all .3s ease-in-out;
        right: 80%;
        &:hover {
            z-index: 100;
            filter: brightness(100%);
            transform: scale(5);
            top: 50%;
            right: 50%;
        }
    }
}