@use '../../styles/setup/functions' as functions;

@-webkit-keyframes scale-up-right {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
}

@keyframes scale-up-right {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 100% 50%;
        transform-origin: 100% 50%;
    }
}


.form {
    border: 1px solid var(--clr8);
    border-radius: 0.75rem;
    gap: 0.313rem;
    padding: 0.5rem;
    position: relative;
    transition: all .2s ease-in-out;
    display: flex;
    // flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.313rem;
    width: 175px;
    -webkit-animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

    @media (min-width: 768px) {
        width: 700px;
        flex-direction: row;
    }

    .close {
        padding: 0.125rem;
        font-size: 1.6rem;
        cursor: pointer;
        border-radius: 50%;
        transition: all .2s ease-in-out;

        &:hover {
            background-color: var(--clr4);
        }
    }

    .item-date {
        width: 110px;
        color-scheme: dark;
        color: var(--clr3);
    }
    ::-webkit-calendar-picker-indicator {
        color-scheme: light;
      }

    .item-place {
        width: 105px;
    }

    .item-quantity {
        width: 50px;
        color: var(--clr3);
    }

    .item-title {
        width: 320px;
    }

    .button {
        width: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;

        .span {
            text-align: center;
            margin-block-end: 0.25rem;
            font-size: 1.3rem;
            font-weight: 700;
            font-size: 2.2rem;
            color: var(--clr7);
            margin-block-end: 0.5rem;
            font-weight: 700;
        }

        &:hover {
            filter: brightness(80%);
        }

        &:disabled {
            filter: brightness(100%);
            cursor: not-allowed;
        }
    }
}