@use '../../styles/setup/variables' as variables;
@use '../../styles/setup/functions' as functions;

.form {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    .title {
        background-color: transparent;
        border-bottom: 1px solid var(--clr5);
        border-radius: 0;
        width: 500px;
    }
    .quantity {
        background-color: transparent;
        border-bottom: 1px solid var(--clr5);
        border-radius: 0;
        width: 45px;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        font-size: 2rem;
        width: 30px;
        height: 30px;

        transition: all .2s ease-in-out;
        .icon {
            margin-block-start: -8px;
            font-weight: 600;
        }
        &:hover {
            scale: 1.2;
        }
        &:disabled {
            cursor: not-allowed;
            scale: 1;
        }
    }
}