@use '../../styles/setup/variables' as variables;
@use '../../styles/setup/functions' as functions;

.add-store {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 32px;
    transition: 250ms;
    perspective: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .add-store-back {
        position: absolute;
        inset: 0;
        z-index: -1;
        width: 210px;
        height: 210px;
        border-radius: 32px;
        transform-style: preserve-3d;
        transform-origin: bottom right;
        transform: rotateZ(15deg);
        // box-shadow: 16px 0 40px var(--clr1);
        transition: all .3s ease-in-out;
    }

    .add-store-front {
        width: 210px;
        height: 210px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr1);
        flex-direction: row;
        flex-wrap: wrap;
        inset: 0;
        z-index: 1;
        border-radius: 32px;
        background-color: var(--clr7);
        backdrop-filter: blur(20px);
        position: absolute;
        overflow: hidden;

        .input {
            border: 0;

        }

        .button {
            cursor: pointer;
            width: 40px;
            height: 40px;
            font-size: 1.8rem;
            transition: filter .3s ease-in-out;
            padding-bottom: 43px;

            &:hover {
                filter: brightness(80%);
            }
            &:disabled {
                cursor: not-allowed;
                filter: brightness(100%);
            }
        }
    }

    .colors {
        gap: 16px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        .div {
            width: 35px;
            height: 35px;
            cursor: pointer;
            border-radius: 50%;
            transition: scale .2s ease-in-out;
            border: 1px solid var(--clr1);

            &.selected {
                scale: 1.2;
            }

            &:hover {
                scale: 1.2;
            }
        }
    }


}