@use '../../styles/setup/variables' as variables;
@use '../../styles/setup/functions' as functions;

.add-store {
    position: relative;
    border-radius: 1rem;
    width: 220px;
    height: 220px;
    margin: 2rem;
    perspective: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--clr7);
    padding: 0.5rem;
    transition: all .3s ease-in-out;

    .button {
        cursor: pointer;
        width: 70px;
        height: 50px;
        font-size: 1rem;
        transition: all .3s ease-in-out;
        color: var(--clr7);

        &:hover {
            scale: 1.2;
        }

        &:disabled {
            cursor: not-allowed;
            scale: 1;
        }

    }

    .colors {
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        
        .div {
            width: 35px;
            height: 27px;
            cursor: pointer;
            border-radius: 0.375rem;
            transition: all .2s ease-in-out;
            border: 1px solid var(--clr7);
            
            &.selected {
                scale: 1.2;
                box-shadow: 0px 0px 0.25rem 1px var(--clr8);
            }

            &:hover {
                scale: 1.2;
            }
        }
    }


}